.main {
    border: 1px solid black;
    width: auto;
    height: 400px;
    background-color: beige;
}

.box {
    height: 45px;
    width: 45px;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 15;
    animation-delay: .5s;
}

@keyframes example {
    0% {
        background-color: red;
        top: 5%;
        left: 20%;
        border-radius: 50px;
    }
    2% {
        background-color: green;
        border-radius: 50px;
        top: 85%;
        left: 30%;
    }
    5% {
        background-color: green;
        border-radius: 50px;
        top: 85%;
        left: 30%;
    }
    40% {
        background-color: green;
        border-radius: 50px;
        top: 20%;
        left: 45%;
    }
    60% {
        background-color: green;
        border-radius: 50px;
        top: 85%;
        left: 60%;
    }
    80% {
        background-color: green;
        border-radius: 50px;
        top: 40%;
        left: 75%;
    }
    100% {
        background-color: green;
        border-radius: 50px;
        top: 85%;
        left: 85%;
    }
}